# Git
.git
.github
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.venv
venv
env

# IDE
.vscode
.idea
*.swp
*.swo

# Documentation
*.md
!README.md
LICENSE

# Examples
examples

# Test
tests
.pytest_cache
